<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>dodawanie samochodu</title>
</head>
<body>
    <h1>Hello car</h1>
    <form action="/cars">
    <label>Wybierz markę</label>
    <select name="car">
        <option value="Volvo">Volvo</option>
        <option value="Mercedes">Mercedes</option>
        <option value="Saab">Saaab</option>
    </select>
    <label>Wybierz kolor</label>
    <select name="color">
        <option value="green">Green</option>
        <option value="yellow">Yellow</option>
        <option value="black">Black</option>
    </select>
    <input type="submit" value="Show">
    </form>
</body>
</html>