body{
    background-color: aqua;
    
}

h1{
    color: brown;
}

footer{
    color: crimson;
}
p{
    color: yellowgreen;
}
p.teo{
    color: white;
}

footer{
    display: none;
}
article{
    border: solid 2px black;
    align-content: center;
}