<!DOCTYPE html>
<html>
    <head>
        <title>Formularz</title>
        <meta charset="utf-8">
    </head>
    <body>
        <h1>Witaj Świecie</h1>

        <form action="/result">

            <label>Podaj imię</label>
            <input type="text" name="name" required>

            <label>Podaj nazwisko</label>
            <input type="text" name="surname">

            <label>Wiek</label>
            <input type="number" name="age">

            <input type="submit" value="Dodaj">
        </form>

    </body>
</html>